html {
  background-color: #f0f9ff;
}

body {
  margin: 0 20%;
}

.header,
.main_header {
  font-family: "Raleway", sans-serif;
}

.main_header {
  text-align: center;
}

.spacer {
  display: none;
}

.top {
  margin-top: 50px;
}

.version_button {
  cursor: pointer;
}

p,
span {
  font-family: "Noto Sans", sans-serif;
}

#buttons_div {
  margin: 25px 0;
}

#icon {
  display: none;
}

#long_button {
  font-weight: bold;
}

#long_button,
#short_button {
  padding: 5px;
  color: #000f73;
}

#navbar {
  text-align: center;
}

#navbar a {
  text-decoration: none;
  user-select: none;
  color: #000f73;
}

#short_version {
  display: none;
}

.version_button {
  border: 5px solid #000f73;
  border-radius: 25px;
}

/* mobile users */
@media screen and (max-width: 480px) {
  body {
    margin: 0 15%;
  }

  #icon {
    text-align: center;
    width: 50%;
    margin: auto;
    display: block;
    color: black;
  }

  #navbar {
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    display: none;
    text-align: center;
  }

  #navbar a {
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .spacer {
    display: block;
    height: 30px;
  }
}
