.header,
.main_header {
  font-family: "Raleway", sans-serif;
}

.main_header {
  text-align: center;
}

.top {
  margin-top: 50px;
}

.version_button {
  cursor: pointer;
}

.version_button:hover {
  font-weight: bold;
}

p,
span {
  font-family: "Noto Sans", sans-serif;
}

#navbar a {
  text-decoration: none;
}

#short_version {
  display: none;
}

/* mobile users */
@media screen and (max-width: 480px) {
  #navbar {
    overflow: hidden;
    position: relative;
  }

  #navbar {
    transition: 0.5s;
    display: none;
  }

  #navbar a {
    text-decoration: none;
    display: block;
    text-align: center;
  }
}
